@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #b2dfff; */
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

body, html {
  height: 100%;
  width: 100%;
}

.centralized {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headline {
  font-weight: bold;
  font-family: monospace;
  color: #304656;
}
